@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap');

body {
  background: #111722;
  color: #8892b0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
}

.primary-color {
  color: #64ffda;
}

.bg-primary-color {
  background-color: #64ffda;
}